/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
		
body {
	margin: 0;
	padding: 0;
	color: #333;
	background: #fff;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

a {
    color: #4F98BF;
    text-decoration: underline;
}

    a:hover,
    a:focus {
        color: #BB5824;
        text-decoration: underline;
    }
    
    a:active {
        position: relative;
        top: 1px;
    }
    
figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 13px;
    line-height: 1.5em;
    color: #777;
    background: #eee;
    padding: 1em;
    border: 1px solid #ccc;
    border-top-width: 0;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 2em 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ccc;
	width: 100%;
}

tr:nth-child(2n+1) {
    background: #fbfbfb;
}

td, th {
	border: 1px solid #ccc;
	padding: .5em 1em;
	vertical-align: top;
}

th {
	text-align: left;
	background: #fefbf4;
}

table ol,
table li {
	margin: 0;
	padding: 0;
}

table li {
	margin-left: 1.5em;
}

code {
	background: #eee;
	border: 1px solid #dedede;
	border-radius: 3px;
	padding: .1em .25em;
}

mark {
    background: #fff6ba;
}
			
.page-header {
    position: relative;
    padding: 1em 2em .75em;
    background: #556270;
}

    .page-header a {
        color: #fff;
        text-decoration: none;
    }

    .logo {
        font-size: 2.5em;
        line-height: 1.5em;
        font-weight: 500;
        border-bottom: 1px solid rgba(0,0,0,.15);
        padding: 0 2em .33em 2em;
        width: 100vw;
        margin-left: -2em;
        -webkit-font-smoothing: antialiased;
    }
    
    .header-nav {
        display: block;
        margin-left: -1em;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    
	    .header-nav a {
	        display: inline;
	        float: left;
	        margin-right: 1em;
	        margin-left: 0;
	        padding: .25em 1em;
	        border-radius: 3px;
	    }
	    
            .header-nav a:hover,
            .header-nav a:focus {
                background-color: rgba(0,0,0,.15);
                text-decoration: none;
            }

.container {
	margin: 4em 2em;
}

    .container h1 {
        line-height: 1.3em;
    }

    .toc nav {
        padding-left: 2em;
    }
    
        .toc a {
            display: block;
            position: relative;
        }
        
            .toc a::before {
                content: "\230A";
                position: absolute;
                top: 4px;
                left: -1.5em;
                color: #999;
                font-size: .75em;
            }
            
    section {
        border-top: 1px solid #ccc;
        padding-top: 1em;
        margin-top: 3em;
    }
            
	    section h2 a {
	        float: right;
	        font-size: 1rem;
	        line-height: 1.5em;
	        font-weight: 500;
	    }
	    
.button {
    padding: .15em .75em;
    border-radius: 3px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
}

    .button:hover,
    .button:focus {
        background: #4F98BF;
        color: #fff;
        text-decoration: none;
        text-shadow: rgba(0,0,0,.5) 0 1px 1px;
    }
    
.disabled {
    pointer-events: none;
    opacity: .75;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 792px) {
    .container {
        margin: 4em auto 20em auto;
        width: 760px;
    }
    
    .header-content {
        width: 760px;
        margin: 0 auto;
        position: relative;
    }
    
        .logo {
            width: 110px;
            border-bottom-width: 0;
            padding: 0;
            margin: 0;
            font-size: 1.5em;
        }
        
        .header-nav {
            width: 630px;
            display: block;
            position: absolute;
            top: 2px;
            right: 0;
            margin: 0;
            padding: 0;
        }
        
            .header-nav a {
                width: auto;
            }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}