<header class='page-header' id='top'>
    <div class='header-content'>
        <h1 class='logo'><a href='{{site.url}}/' title='CSE 322 Website'>
            CSE 322
        </a></h1>
        
        <nav class='header-nav'>
            <a href='{{site.url}}/schedule' title='Schedule'>
                Schedule
            </a>
            <a href='{{site.url}}/reading' title='Reading'>
                Reading
            </a>
            <a href='{{site.url}}/assignments' title='Assignments'>
                Assignments
            </a>
            <a href='{{site.url}}/resources' title='Resources'>
                Resources
            </a>
            <a href='{{site.url}}/posts' title='Posts'>
                Posts
            </a>
            
            <div class='clearfix'></div>
        </nav>
        
    </div>
</header> <!-- End .page-header -->