<header class='page-header' id='top'>
    <div class='header-content'>
        <h1 class='logo'><a href='http://csusbdt.github.io/322-2013/' title='CSE 322 Website'>
            CSE 322
        </a></h1>
        
        <nav class='header-nav'>
            <a href='http://csusbdt.github.io/322-2013/schedule' title='Schedule'>
                Schedule
            </a>
            <a href='http://csusbdt.github.io/322-2013/reading' title='Reading'>
                Reading
            </a>
            <a href='http://csusbdt.github.io/322-2013/assignments' title='Assignments'>
                Assignments
            </a>
            <a href='http://csusbdt.github.io/322-2013/resources' title='Resources'>
                Resources
            </a>
            <a href='http://csusbdt.github.io/322-2013/posts' title='Posts'>
                Posts
            </a>
            
            <div class='clearfix'></div>
        </nav>
        
    </div>
</header> <!-- End .page-header -->