<sidebar class='page-sidebar'>
    <p>The class is in <b>TBA</b>. If you have any questions, please <a href='#' title='Contact Dr. Turner'>contact Dr. Turner</a>.</p>
    <hr>
    <p>If you want to give any feedback on the course, please contact <a href='#' title='Contact Dr. Turner'>Dr. Turner</a>, or <a href='#' title='Contact Andrew Brinker'>Andrew Brinker</a>.</p>
    <hr>
    <p>The code for this site is <a href='https://github.com/csusbdt/322-2013/tree/gh-pages' title='CSE-322 site on GitHub'>hosted on GitHub</a>.</p>
</sidebar>